{% extends 'login.html' %}

{% block title %}
    注册会员
{% endblock %}

{% block link %}
			<a href="/login">会员登录</a>
{% endblock %}

{% block form%}

				<form action="login" method="post">
				<p>
					<span class="spanText">手机号</span>
					<input type="text" name="uphone" class="uText">
				</p>
				<p>
					<span class="spanText">密码</span>
					<input type="password" name="upwd" class="uText" placeholder="请输入6-20位号码字符">
				</p>
                <p>
					<span class="spanText">确认密码</span>
					<input type="password" id="cpwd" class="uText">
				</p>
				<p>
					<span class="spanText">用户名</span>
					<input type="text" name="uname" class="uText">
				</p>

				<p>
					<span class="spanText">邮箱</span>
					<input type="email" name="uemail" class="uText">
				</p>
					<p>
					<span class="spanText"></span>

					<input type="submit" name="login" class="login" value="注册">

					<input type="button" name="regist" class="regist" value="会员登录" onclick="location.href='/login'">

				</p>
			</form>
{% endblock %}

{% block style %}

<style>
	.right{
		margin-top: 20px;
	}
</style>
{% endblock %}